<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
</head>
<body>
    <h1>Add Products</h1>

    <form action="/AddProducts" method="post">
        product_id: <input class="form-control" type="number" name="id" placeholder="Enter your product id" >
        name:<input class="form-control " type="password" name="name" placeholder="Enter your Product name" >
        Price : <input class="form-control " type="password" name="price" placeholder="Enter Product Price" >
        Image : <input class="form-control " type="password" name="image" placeholder="Enter Product image " >
        <br>
<button type="submit">submit</button>
    </form>


</body>
</html>