<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Category</title>
</head>
<body>
        <h1>Add Category of products</h1>

        <form action="/categories" method="post" style="width: 50%;margin:auto;padding-top: 60px;">
            category_id : <input class="form-control" type="number" name="number" placeholder="Enter id" value="<%=  data.category_id  %>">
            Name : <input class="form-control " type="text" name="name" placeholder="Enter your name" value="<%=  data.name  %>">
            <br>
            <button type="submit">submit</button>
                </form>

         
</body>
</html>